= javascript 'splice_reports/filter_create'

= content_for :title do
  #{_("Filter")}

= content_for :content do
  #filter
    = render :partial => 'form', :locals => { :filter => @filter, :editable => editable }

= render :template => "layouts/tupane_layout"