
%h2 #{@filter.name}


#details
  .grid_10

    %fieldset
      .grid_3.ra
        = label :filter, :name, _("Name:")
        #{@filter.name}

    %fieldset
      .grid_3.ra
        = label :filter, :Description, _("Description:")
        #{@filter.description}

    %fieldset
      .grid_3.ra
        = label :filter, :status, _("Status:")
        #{@filter.satellite_name}

    %fieldset
      .grid_3.ra
        = label :filter, :satellite, _("Satellite:")
        #{@filter.satellite_name}

    %fieldset
      .grid_3.ra
        = label :filter, :hours, _("Hours:")
        #{@filter.hours}

    %fieldset
      .grid_3.ra
        = label :filter, :start_date, _("Start Date:")
        #{@filter.hours}

    %fieldset
      .grid_3.ra
        = label :filter, :end_date, _("End Date:")
        #{@filter.hours}

