-# parameters: form
- raise ArgumentError, "Filter form requires :form be passed in :locals" unless local_assigns[:form]

= form.text_field :name, :label => _("Name")

= form.text_area :description, :label => _("Description"), :size => "40x5"

= form.text_field :status, :label => _("Status")

= form.text_field :satellite_name, :label => _("Satellite")

= form.text_field :hours, :label => _("Hours")

= form.text_field :start_date, :label => _("Start Date")

= form.text_field :end_date, :label => _("End Date")

= form.submit _("Save")