= javascript  'widgets/jquery.jeditable.helpers', 'splice_reports/filter_create'

= content_for :title do
  #{_("New Filter")}

= content_for :content do
  .grid_10
  = kt_form_for SpliceReports::Filter.new, :id => "new filter" do |form|

    = form.text_field :name, :label => _("Name:")
    = form.text_field :description, :label => _("Description:")

    .grid_2.ra
    #criteria
    = form.select :status, options_for_select(@status_hash.invert), {}, {:label => _("Status:"), :size=>1, :multiple=>true, :size => 2}
    #satellite
      = form.select :satellite_name, options_for_select(@available_splice_servers_hash.invert), {}, {:label => _("Satellite Server:"), :size=>1, :id => "satellite_name"}
    = form.select :organizations, options_for_select(@accessible_orgs_hash.invert), {}, {:multiple=>true, :label=> _("Organizations"), :size => 2}


    
    %fieldset.clearfix
      .grid_10.prefix_1.fielditem
        .grid_5.la
          %label #{_("Filter by hours since last check-in:")}
        %input{:type=>:radio, :name=>"time", :id=>"choose_hour", :value=>"choose_hour"} 
        %br
        .grid_5.la
          %label #{_("Filter by check-in's in date range:")}
        %input{:type=>:radio, :name=>"time", :id=>"choose_daterange", :value=>"choose_daterange"}
        %br
        
        

    %div#hour
      = form.select :hours, options_for_select(@number_of_hours_hash.invert), {}, {:label => _("Number of Hours:"), :size=>1}
    %div#daterange
      = form.text_field :start_date, :label => _("Start Date:"), :class=>'datepicker'
      = form.text_field :end_date, :label => _("End Date:"),:class=>'datepicker'
    
    .grid_2.ra
    #inactive
    %fieldset.clearfix
      .grid_10.prefix_1.fielditem
        .grid_5.la
          %label #{_("Inactive")}
        %input.inactive{:label => _("Inactive:"), :type=>:checkbox, :name=>"inactive", :id=>"inactive"}   

    = form.submit _("Save Filter"), :id => :save_filter
    

= render :template => "layouts/tupane_layout"
