
= content_for :title do
  #{_(@record['systemid'])}

= content_for :content do


  #checkins
    %table.table
      %thead
        %tr
          -#%th
          -#  = _("Hostname")
          %th
            = _("Status")
          %th
            = _("System Check-In Time")

      %tbody
        - for ci in checkins
          %tr
            %td
              %ul
                %li.panel_link
                  - if ci['entitlement_status']['status'] != "deleted"
                    %a{:href=>checkin_splice_reports_filter_reports_path(@filter.id, :id=>ci['_id']['$oid'].to_s, :original_id=>@record['_id'].to_s)}
                      = ci['entitlement_status']['status']
                  - else
                    = ci['entitlement_status']['status']
            %td
              = ci['checkin_date'] 






= content_for :navigation do
  = render_menu(1..2, record_navigation(@filter, @record))



= render :template => "layouts/tupane_layout"
