:javascript
  $('td').click(function(){
    $('.scroll-pane').jScrollPane().data('jsp').reinitialise();
  });

= content_for :title do
  #{_("Checkin")}

= content_for :content do
  #record.grid_10
    %form.form
      .control-group
        .label
          %label
            = _("System Check-In Time:")
        .value
          = @record['checkin_date']
      .control-group
        .label
          %label
            = _("Status:")
        .value
          = @record['entitlement_status']['status']
      .control-group
        .label
          %label
            = _("Name:")
        .value
          = @record['name']
      .control-group
        .label
          %label
            = _("Satellite Server:")
        .value
          = @record['splice_server']

    %h3
      = _("Facts:")
    #facts.grid_8.prefix_1
      %table#factsTable.scroll-panel
        %thead
          %th= _("Group")
          %th= _("Fact")
          %th= _("Value")
        %tbody
          - group = nil
          - @record['facts'].sort.each do |fact, value|
            - new_group = fact.split(".", 2)[0]
            - if (new_group != group)
              - group = new_group
              %tr{:id => group}
                %td= new_group
                %td
                %td
            %tr{:class => "child-of-#{group}", :id => fact}
              %td
              %td= fact
              %td= value
      :javascript
        $("#factsTable").treeTable({initialState: "collapsed", clickableNodeNames: true});
        $('.scroll-pane').jScrollPane().data('jsp').reinitialise();




= content_for :navigation do
  %ul
    %li.panel_link
      %a{:href=>record_splice_reports_filter_reports_path(@filter.id, :id=>original_id)}
        = _("< Return to System")

= render :template => "layouts/tupane_layout"
