
:javascript
  $('td').click(function(){
    $('.scroll-pane').jScrollPane().data('jsp').reinitialise();
  });

= content_for :title do
  #{_('Products')}

= content_for :navigation do
  = render_menu(1..2, record_navigation(@filter, @record))

= content_for :content do
  #record.grid_10
    #products.grid_8.prefix_1
      = "hello"



= render :template => "layouts/tupane_layout"
