


= content_for :content do
  #record
    %form.form
      .control-group
        .label
          %label
            = _("Existing System:")
        .value
          - current_system = find_system(@record)
          - if current_system
            .subs_image_wrapper
              .subs_image{:class => "#{current_system.compliance_color}"}
            %a{:href=>system_link(current_system)}
              = _("Current System")
          - else
            = _("Unable to locate matching system.")



= content_for :navigation do
  = render_menu(1..2, record_navigation(@filter, @record))



= render :template => "layouts/tupane_layout"
