


= content_for :content do
  #record
    %form.form
      .control-group
        .label
          %label
            = _("Existing System:")
        .value
          - current_system = find_system(@record)
          - if current_system
            .subs_image_wrapper
              .subs_image{:class => "#{current_system.compliance_color}"}
            %a{:href=>system_link(current_system)}
              = _("Link to System")
            = "asdf"
          - else
            = _("Unable to locate matching system.")
  %h5 #{_("Historical Subscription Status Details:")}
  %br
  .control-group
    .input
      .product
        .subs_image_wrapper
          .subs_image{:class => get_status_color(@record)}
      .value
        = get_status_message(@record)
    %table.table
      %thead
        %tr
          %th
            = _("Product")
          %th
            = _("Reason")
      %tbody
        - for r in get_reasons(@record)
          %tr
            %td
              = r['attributes']['name']
            %td
              = r['message']
    
       
        

          




= content_for :navigation do
  = render_menu(1..2, record_navigation(@filter, @record))



= render :template => "layouts/tupane_layout"
